{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
        {% endblock %}
    </title>
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
    {% tailwind_css %}
</head>
<body class="bg-zinc-500">
    <nav class="text-white text-4xl p-5">This is our navbar</nav>
    <div class='text-black'>
        {% block content %}
    {% endblock %}
    </div>
  
</body>
</html>